*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    border-top: solid 20px #424242;
    font-family: 'Tahoma';
    height: 100vh;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header, .image, .history, .example
{
    border-radius: 20px;
}

.header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 0;
    color: #424242;
}

.header-icon
{
    width: 25px;
    height: 25px;
    background: #424242;
    color: white;
    text-align: center;
    padding: 2px;
    font-weight: bold;
    margin-right: 10px;
}

.image
{
    background: url("federica-galli-aiqKc07b5PA-unsplash.jpg");
    width: 800px;
    height: 200px;
    background-position:bottom;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.content
{
    display: flex;
    width: 800px;
    line-height: 25px;
}

.history
{
    background: #e9eaec;
    height: 400px;
    margin-right: 20px;
    padding: 20px;
    width: 390px;
}

.history h2
{
    margin-bottom: 20px;
}

.example
{
    background: #e9eaec;
    width: 390px;
    display: flex;
    flex-direction: column;
}

.example h2
{
    margin-bottom: 20px;
}

.example .top
{
    padding: 20px;
}

.example .bottom
{
    background: #424242;
    color: white;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
}

.bottom p
{
    font-family: courier;
    font-size: 14px;
}