*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    border-top: solid 10px black;
    font-family: 'Lucida Sans';
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header, .image, .history, .example
{
    border-radius: 10px;
}

.header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 0;
}

.header-icon
{
    width: 25px;
    height: 25px;
    background: black;
    color: white;
    text-align: center;
    padding: 2px;
    font-weight: bold;
    margin-right: 10px;
}

.image
{
    background: url("federica-galli-aiqKc07b5PA-unsplash.jpg");
    width: 800px;
    height: 200px;
    background-position:bottom;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.content
{
    display: flex;
    width: 800px;
    line-height: 25px;
}

.history
{
    background: rgb(226, 226, 226);
    height: 400px;
    margin-right: 20px;
    padding: 20px;
    flex: 1;
}

.history h2
{
    margin-bottom: 20px;
}

.example
{
    background: rgb(226, 226, 226);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.example h2
{
    margin-bottom: 20px;
}

.example .top
{
    padding: 20px;
}

.example .bottom
{
    background: rgb(70, 70, 70);
    color: white;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}